
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="csrf-token" content="YVs4h1ibar0zITVZb5MwTk3be3xGyJmcCkYHdPXH">
<title>Lautan.io</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
<link href="appway" rel="stylesheet">
<link href="appway/css/flaticon.css" rel="stylesheet">
<link href="appway/css/owl.css" rel="stylesheet">
<link href="appway/css/bootstrap.css" rel="stylesheet">
<link href="appway/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="appway/css/animate.css" rel="stylesheet">
<link href="appway/css/style.css" rel="stylesheet">
<link href="appway/css/responsive.css" rel="stylesheet">
<link rel="stylesheet" href="appway/css/select2.min.css">
<link rel="stylesheet" href="appway/css/select2-bootstrap.css">

<style>.nopadding {padding: 0 !important;margin: 0 !important;}.btn { border-radius:3 !important; }.form-control { border-radius:3 !important; border-color:#aaaaaa }.select2-selection__rendered {line-height: 35px !important;}.select2-container .select2-selection--single {height: 38px !important; }.select2-selection__arrow { height: 36px !important; }.navhead { color:#1F1534 !important;opacity: 0.5 !important; }</style>
    <!-- PWA  -->
    <meta name="theme-color" content="#6777ef" />
    <link rel="apple-touch-icon" href="{{ asset('/public/logo.png') }}">
    <link rel="manifest" href="{{ asset('/public/manifest.json') }}">
</head><!-- page wrapper --><body class="boxed_wrapper"><!-- main header --><header class="main-header style-three">    <div class="header-upper">        <div class="outer-container">            <div class="container">                <div class="main-box clearfix" style="background-color:transparent;">                    <div class="logo-box pull-left" style="width:231px;padding:3px">                        <figure class="logo"><a href="index.html"><img src="https://lautan.s3.amazonaws.com/webcontent/media_ooe6cm.png" style="height:40px" alt=""></a></figure>                    </div>                    <div class="menu-area pull-left clearfix" style="margin-left:100px">                        <!--Mobile Navigation Toggler-->                        <div class="mobile-nav-toggler">                            <i class="icon-bar"></i>                            <i class="icon-bar"></i>                            <i class="icon-bar"></i>                        </div>                        <nav class="main-menu navbar-expand-md navbar-light">                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">                                <ul class="navigation clearfix">                                    <li><a href="/" class="navhead">Home</a></li>                                     <li><a href="/page/about-us" class="navhead">About Us</a></li>                                     <li><a href="/" class="navhead">Products</a></li>                                    <li><a href="/page/news" class="navhead">Info</a></li>                                    <li><a href="/page/partnership" class="navhead">Partnership</a></li>                                    <li><button class="btn btn-sm" style="background-color:#2F80ED;color:white" data-toggle="modal" data-target="#modal-signin">Sign In</button></li>                                </ul>                            </div>                        </nav>                    </div>                </div>            </div>        </div>    </div>    <!--sticky Header-->    <div class="sticky-header" style="background-color:#2F80ED;padding:10px 0px 10px 0px">        <div class="container clearfix">            <figure class="logo-box"><a href="index.html"><img src="https://lautan.s3.amazonaws.com/webcontent/media_f19qFg.png" style="height:40px" alt=""></a></figure>            <div class="menu-area">                <nav class="main-menu clearfix">                    <!--Keep This Empty / Menu will come through Javascript-->                </nav>            </div>        </div>    </div></header><!-- main-header end --><!-- Mobile Menu  --><div class="mobile-menu">    <div class="menu-backdrop"></div>    <div class="close-btn"><i class="fas fa-times"></i></div>        <nav class="menu-box">        <div class="nav-logo"><a href="index.html"><img src="/landing-assets/images/logo.png" style="height:40px" alt="" title=""></a></div>        <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>        <div class="contact-info">            <h4>Contact Info</h4>            <ul>                <li>Chicago 12, Melborne City, USA</li>                <li><a href="tel:+8801682648101">+88 01682648101</a></li>                <li><a href="mailto:info@example.com">info@example.com</a></li>            </ul>        </div>        <div class="social-links">            <ul class="clearfix">                <li><a href="#"><span class="fab fa-twitter"></span></a></li>                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>                <li><a href="#"><span class="fab fa-instagram"></span></a></li>                <li><a href="#"><span class="fab fa-youtube"></span></a></li>            </ul>        </div>    </nav></div><!-- End Mobile Menu --><br><br><br><br><br>
<style>    .text { color: #5E6282; }    .white { color:white !important; }    .white h2 { color:white !important; }    .sec-titlex { margin-bottom: 40px; }    .sec-titlex h2 { font-weight:600;color:#14183E; }</style><!-- partnership --><section class="security-invisible" style="margin-top:-150px;background-image:url('https://lautan.s3.amazonaws.com/webcontent/media_8iPKI9.png');background-repeat: no-repeat;background-position: right 0px top -80px;background-size:45%">    <div class="container">        <div class="row align-items-center">            <div class="col-lg-7 col-md-12 col-sm-12 content-column">                <div id="content_block_28" style="margin-top:-100px">                    <div class="content-box wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">                        <div class="sec-titlex"><h4 style="color: #F2994A;font-size:20px">DIGITAL TRANSACTION</h4></div>                        <div class="sec-titlex"><h2 style="font-size:60px">Indonesia’s<br>forefront of the<br>digital transaction<br>revolution. </h2></div>                        <div class="text" style="font-size: 16px">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>                        <div><button class="btn" style="background-color:#2F80ED;color:white;padding:10px 30px 10px 30px">Find out more</button></div>                    </div>                </div>            </div>            <div class="col-lg-5 col-md-12 col-sm-12 image-column">                <div id="image_block_27">                    <div class="image-box js-tilt">                        <figure class="image clearfix wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">                            <img src="https://lautan.s3.amazonaws.com/webcontent/media_tW9iyK.png" alt="">                        </figure>                    </div>                </div>            </div>        </div>    </div></section>    <!-- partnership --><section class="security-invisible">    <div class="container">        <div class="row align-items-center">            <div class="col-lg-5 col-md-12 col-sm-12 image-column">                <div id="image_block_27">                    <div class="image-box js-tilt">                        <figure class="image clearfix wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">                            <img src="https://lautan.s3.amazonaws.com/webcontent/media_R2fglL.png" alt="">                        </figure>                    </div>                </div>            </div>            <div class="col-lg-7 col-md-12 col-sm-12 content-column">                <div id="content_block_28">                    <div class="content-box wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms">                        <div class="sec-titlex"><h2>Digital Asset Interchange</h2></div>                        <div class="text">The future of global innovative digital asset transaction.</div>                    </div>                </div>            </div>        </div>    </div></section><div style="margin-bottom:100px"><section class="clients-section home-12">
            <div class="container">
                <div class="sec-titlex"><h2>Laut CryptCash</h2></div>
                <div style="margin-bottom:50px">Integration blockchain technology, simple, and secure for you to <br>offer the forefront of digital asset Interchange transaction.</div>
                <div class="row">
                    <div class="col-md-12">
                        
                        <div>
                            <div class="row">
                                <div class="col-md-4" id="idrleft">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="0" value="100000" id="idrleft_price" style="width:100%">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control select2-single" id="idrleft_select" style="width:100%">
                                                    <option value="IDR">IDR</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" id="curleft" style="display:none">
                                    <div class="row">
                                        <div class="col-md-6"><div class="form-group">
                                                <input type="text" class="form-control" placeholder="0" value="0.00256" id="curleft_price" style="width:100%">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control select2-single" id="curleft_select" style="width:100%"><option value="ETHBIDR">ETHBIDR</option><option value="USDTBIDR">USDTBIDR</option><option value="BNBBIDR">BNBBIDR</option><option value="DOGEBIDR">DOGEBIDR</option><option value="BUSDBIDR">BUSDBIDR</option><option value="DOTBIDR">DOTBIDR</option><option value="TKOBIDR">TKOBIDR</option><option value="SXPBIDR">SXPBIDR</option><option value="LAUTAN">LAUTAN</option><option value="H00002">H00002</option></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="form-control select2-single" id="changebox">
                                            <option value="BUY">BUY</option>
                                            <option value="SELL">SELL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4" id="curright">
                                    <div class="row">
                                        <div class="col-md-6"><div class="form-group">
                                                <input type="text" class="form-control" placeholder="0" value="0.00256" id="curright_price" style="width:100%">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control select2-single" id="curright_select" style="width:100%"><option value="ETHBIDR">ETHBIDR</option><option value="USDTBIDR">USDTBIDR</option><option value="BNBBIDR">BNBBIDR</option><option value="DOGEBIDR">DOGEBIDR</option><option value="BUSDBIDR">BUSDBIDR</option><option value="DOTBIDR">DOTBIDR</option><option value="TKOBIDR">TKOBIDR</option><option value="SXPBIDR">SXPBIDR</option><option value="LAUTAN">LAUTAN</option><option value="H00002">H00002</option></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" id="idrright" style="display:none">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="0" value="100000" id="idrright_price" style="width:100%">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control select2-single" id="idrright_select" style="width:100%">
                                                    <option value="IDR">IDR</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" id="btnnya">
                                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-signin">BUY</button>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </section></div><section class="clients-section home-12" style="margin-top:50px">    <div class="container">        <div class="sec-titlex">            <h2>5 Easy Steps</h2>        </div>        <div class="row">            <div class="col-lg-10">                <div class="row">                    <div class="col-lg-3 col-md-12 col-sm-12" style="padding:10px">                        <div style="border:1px solid #EFEFEF;padding:25px;box-shadow: 5px 15px 27px rgba(0, 0, 0, 0.1);">                            <img src="https://lautan.s3.amazonaws.com/webcontent/media_ha0OIR.png" style="margin-bottom:15px">                            <div style="font-size: 18px;font-weight:700;color:#1C1C1C">Lautan.io</div>                            <p style="font-size:13px !important">Open account & Verify Account</p>                        </div>                    </div>                    <div class="col-lg-3 col-md-12 col-sm-12" style="padding:10px">                        <div style="border:1px solid #EFEFEF;padding:25px;box-shadow: 5px 15px 27px rgba(0, 0, 0, 0.1);">                            <img src="https://lautan.s3.amazonaws.com/webcontent/media_AiUDE4.png" style="margin-bottom:15px">                            <div style="font-size: 18px;font-weight:700;color:#1C1C1C">Your Wallet</div>                            <p style="font-size:13px !important">Top Up from your favorite coin wallet</p>                        </div>                    </div>                    <div class="col-lg-3 col-md-12 col-sm-12" style="padding:10px">                        <div style="border:1px solid #EFEFEF;padding:25px;box-shadow: 5px 15px 27px rgba(0, 0, 0, 0.1);">                            <img src="https://lautan.s3.amazonaws.com/webcontent/media_bjdIbO.png" style="margin-bottom:15px">                            <div style="font-size: 18px;font-weight:700;color:#1C1C1C">Lautan.io</div>                            <p style="font-size:13px !important">You can check you balance from our dashbaord</p>                        </div>                    </div>                    <div class="col-lg-3 col-md-12 col-sm-12" style="padding:10px">                        <div style="border:1px solid #EFEFEF;padding:25px;box-shadow: 5px 15px 27px rgba(0, 0, 0, 0.1);">                            <img src="https://lautan.s3.amazonaws.com/webcontent/media_1DVUIy.png" style="margin-bottom:15px">                            <div style="font-size: 18px;font-weight:700;color:#1C1C1C">Withdraw</div>                            <p style="font-size:13px !important">You can withdraw to your bank account or idcash card</p>                        </div>                    </div>                </div>            </div>            <div class="col-lg-2" style="text-align: center">                <div class="col-lg-12 col-md-12 col-sm-12" style="padding:15px">                    <div style="border:1px solid #EFEFEF;padding:25px;box-shadow: 5px 15px 27px rgba(0, 0, 0, 0.1);margin-top:20px">                        <img src="https://lautan.s3.amazonaws.com/webcontent/media_gWusdD.png">                        <p style="font-size:13px !important">Enjoy</p>                    </div>                </div>            </div>        </div>        <div class="row" style="margin-top:30px">            <div class="col-lg-12 col-md-12 col-sm-12">                <center><button class="btn" style="background-color:white;color:#2F80ED;padding:10px 50px;border:1px solid #2F80ED">Here is How</button></center>            </div>        </div>    </div></section><!-- partnership --><section class="security-invisible">    <div class="container">        <div class="row align-items-center">            <div class="col-lg-8 col-md-12 col-sm-12 content-column">                <div id="content_block_28">                    <div class="content-box wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">                        <div class="sec-titlex"><h2>Idcash</h2></div>                        <div class="text">Have a bank account without having an actual bank account. Transaction accounts to ease your daily activities.                            <br><br>Why idcash?<br>                            idcash becomes the solution for the unbankable to be bankable                            </div>                    </div>                </div>            </div>            <div class="col-lg-4 col-md-12 col-sm-12 image-column">                <div id="image_block_27">                    <div class="image-box js-tilt">                        <figure class="image clearfix wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">                            <img src="https://lautan.s3.amazonaws.com/webcontent/media_iSgbsz.png" alt="">                        </figure>                    </div>                </div>            </div>        </div>        <div class="row">            <div class="col-lg-4 col-md-12 col-sm-12" style="padding:15px">                <div style="border:1px solid #EFEFEF;padding:25px;box-shadow: 5px 15px 27px rgba(0, 0, 0, 0.1);">                    <div style="font-size: 18px;font-weight:700;color:#333333">Withdrawal at ATM</div>                    <p>Withdrawable from any ATM all ,br>around Indonesia</p>                </div>            </div>            <div class="col-lg-4 col-md-12 col-sm-12" style="padding:15px">                <div style="border:1px solid #EFEFEF;padding:25px;box-shadow: 5px 15px 27px rgba(0, 0, 0, 0.1);">                    <div style="font-size: 18px;font-weight:700;color:#333333">Free of Charge</div>                    <p>No charge fee aka free when <br>doing transaction</p>                </div>            </div>            <div class="col-lg-4 col-md-12 col-sm-12" style="padding:15px">                <div style="border:1px solid #EFEFEF;padding:25px;box-shadow: 5px 15px 27px rgba(0, 0, 0, 0.1);">                    <div style="font-size: 18px;font-weight:700;color:#333333">Block Card</div>                    <p>When your card is lost, deactivation <br>via the application is possible.</p>                </div>            </div>        </div>        <div class="row" style="margin-top:30px">            <div class="col-lg-12 col-md-12 col-sm-12">                <center><button class="btn" style="background-color:#2F80ED;color:white;padding:10px 50px">Activate</button></center>            </div>        </div>    </div></section><section class="security-invisible">    <div class="container">        <div class="row align-items-center">            <div class="col-lg-6 col-md-12 col-sm-12 content-column">                <div id="content_block_28">                    <div class="content-box wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">                        <div class="sec-titlex"><h2 style="font-size: 40px">Why Lautan.io?</h2></div>                        <div class="text">Have a bank account without having an actual bank account. Transaction accounts to ease your daily activities.                            <br><br>Why idcash?<br>idcash becomes the solution for the unbankable to be bankable                        </div>                    </div>                </div>            </div>            <div class="col-lg-6 col-md-12 col-sm-12 image-column">                <div id="image_block_27">                    <div class="image-box js-tilt">                        <figure class="image clearfix wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">                            <img src="https://lautan.s3.amazonaws.com/webcontent/media_9gYkKn.png" alt="">                        </figure>                    </div>                </div>            </div>        </div>                <div class="row" style="margin-top:100px">            <div class="col-lg-4 col-md-12 col-sm-12">                <div style="text-align: center;padding:10px">                    <img src="https://lautan.s3.amazonaws.com/webcontent/media_PTmU8I.png" style="width: 56px">                    <p style="margin-top: 20px"><span style="font-size:18px;color:#14183E">Easy</span><br>                        All you need is you. From your digital wallet to Lautan.io. Just follow our steps.                    </p>                </div>            </div>            <div class="col-lg-4 col-md-12 col-sm-12">                <div style="text-align: center;padding:10px">                    <img src="https://lautan.s3.amazonaws.com/webcontent/media_puPfFo.png" style="width: 56px">                    <p style="margin-top: 20px"><span style="font-size:18px;color:#14183E">Fast</span><br>                        Quick to withdraw cash into your bank account or top up to IdCash card.                    </p>                </div>            </div>            <div class="col-lg-4 col-md-12 col-sm-12">                <div style="text-align: center;padding:10px">                    <img src="https://lautan.s3.amazonaws.com/webcontent/media_LTU27R.png" style="width: 56px">                    <p style="margin-top: 20px"><span style="font-size:18px;color:#14183E">Secure</span><br>                        Personal verification send to email and you controlled over your account                    </p>                </div>            </div>        </div>        <div class="row" style="margin-top:80px">            <div class="col-lg-2 col-md-12 col-sm-12">&nbsp;</div>            <div class="col-lg-4 col-md-12 col-sm-12">                <div style="text-align: center;padding:10px">                    <img src="https://lautan.s3.amazonaws.com/webcontent/media_GT6Wb8.png" style="width: 56px">                    <p style="margin-top: 20px"><span style="font-size:18px;color:#14183E">Trusted</span><br>                        Lautan.io is a reliable services, it has been operating with multi layer security.                    </p>                </div>            </div>            <div class="col-lg-4 col-md-12 col-sm-12">                <div style="text-align: center;padding:10px">                    <img src="https://lautan.s3.amazonaws.com/webcontent/media_KpTwqO.png" style="width: 56px">                    <p style="margin-top: 20px"><span style="font-size:18px;color:#14183E">Convenient</span><br>                        Our professional team offers you  best experienced customer support                    </p>                </div>            </div>            <div class="col-lg-2 col-md-12 col-sm-12">&nbsp;</div>        </div>    </div></section><!-- partnership --><section class="security-invisible" style="background-color:#F8FBFF;">    <div class="container">        <div class="row align-items-center">            <div class="col-lg-5 col-md-12 col-sm-12 image-column">                <div id="image_block_27">                    <div class="image-box js-tilt">                        <figure class="image clearfix wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">                            <img src="https://lautan.s3.amazonaws.com/webcontent/media_Dz2BCr.png" alt="">                        </figure>                    </div>                </div>            </div>            <div class="col-lg-7 col-md-12 col-sm-12 content-column">                <div id="content_block_28">                    <div class="content-box wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms" style="color: white">                        <div class="sec-titlex"><h2>Partnership</h2></div>                        <div class="text">Lautan.io offers an opportunity for everyone to receive additional income by participating in our partnership program. Grow your business with us and get a percentage of your client transactions!                            <br><br>Every customer can become a member of the partnership program, and all the links and marketing materials can be obtained directly into your Lautan.io partner dashboard.                        </div>                        <div><button class="btn" style="background-color:#2F80ED;color:white;padding:10px 30px 10px 30px">Earn Now</button></div>                    </div>                </div>            </div>        </div>    </div></section>

<footer class="main-footer style-five">    <div class="footer-top" style="margin-top:-100px">        <div class="container" style="color:#14183E">                <div class="widget-section">                <div class="row">                    <div class="col-lg-3 col-md-6 col-sm-12">                        <div class="links-widget footer-widget">                            <h4 class="widget-title" style="font-size:19px;font-weight:bold;color:#14183E">Lautan.io</h4>                            <div class="widget-content">                                <ul class="list clearfix">                                <li><a href="/page/product" style="color:#14183E">Product</a></li>                                <li><a href="/page/market" style="color:#14183E">Market</a></li>                                <li><a href="/page/news" style="color:#14183E">News</a></li>                                <li><a href="/page/how-to" style="color:#14183E">How To</a></li>                                <li><a href="/page/faq" style="color:#14183E">FAQ</a></li>                                <li><a href="/page/partnership" style="color:#14183E">Partnership</a> &nbsp;&nbsp;<button class="btn btn-sm" style="background-color:#F2994A;color:white">Join Us</button></li>                                </ul>                            </div>                        </div>                    </div>                    <div class="col-lg-3 col-md-6 col-sm-12">                        <div class="links-widget footer-widget">                            <h4 class="widget-title" style="font-size:19px;font-weight:bold;color:#14183E">Company</h4>                            <div class="widget-content">                                <ul class="list clearfix">                                <li><a href="/page/about-us" style="color:#14183E">About Us</a></li>                                <li><a href="/" style="color:#14183E">Contact Us</a></li>                                <li><a href="/" style="color:#14183E">Careers</a> &nbsp;&nbsp;<button class="btn btn-sm" style="background-color:#F2994A;color:white">We're Hiring</button></li>                                </ul>                            </div>                        </div>                    </div>                    <div class="col-lg-6 col-md-6 col-sm-12">                        <div class="links-widget footer-widget">                            <figure class="footer-logo" style="margin-left:-15px"><a href="/"><img src="https://lautan.s3.amazonaws.com/webcontent/media_ooe6cm.png" alt=""></a></figure>                            <div style="text-align:left;margin-left:-15px;margin-top:30px">                                <p>                                <a href="/" target="_blank" style="padding:0px 20px 20px 0px"><img src="https://lautan.s3.amazonaws.com/webcontent/media_sYV8sj.png"></a> &nbsp;&nbsp;                                <a href="/" target="_blank" style="padding:0px 20px 20px 0px"><img src="https://lautan.s3.amazonaws.com/webcontent/media_pKN1v8.png"></a> &nbsp;&nbsp;                                <a href="/" target="_blank" style="padding:0px 20px 20px 0px"><img src="https://lautan.s3.amazonaws.com/webcontent/media_MYjQZ2.png"></a> &nbsp;&nbsp;                                <a href="/" target="_blank" style="padding:0px 20px 20px 0px"><img src="https://lautan.s3.amazonaws.com/webcontent/media_fNOYVF.png"></a> &nbsp;&nbsp;                                <a href="/" target="_blank" style="padding:0px 20px 20px 0px"><img src="https://lautan.s3.amazonaws.com/webcontent/media_2xe2GV.png"></a> &nbsp;&nbsp;                                </p>                                <p style="color: #14183E;font-size:24px;padding:40px 30px 30px 0px">Want to stay update with lautan.io?</p>                                <p style="color: #14183E;font-size:28px;padding:0px 30px 50px 0px;font-weight:500;">Subscribe Lautan.io newsletter right now!</p>                                <div class="row">                                    <div class="col-md-8">                                        <div class="input-group input-group-sm mb-3">                                            <input type="text" class="form-control" placeholder="Enter your email address">                                        </div>                                    </div>                                    <div class="col-md-4">                                        <button class="btn btn-sm" style="background-color:#F2994A;color:white;margin-left:-20px">Sign up Now</button>                                    </div>                                </div>                            </div>                        </div>                    </div>                </div>                                <div style="margin-top:50px">                    <div class="copyright" style="font-size:25px;padding-bottom:30px;">2021 PT. Lautan Harum Mewangi. All rights reserved</div>                    <div style="color: #14183E;font-size:18px">                    Trading and investing in crypto assets is a high-risk activity. Past information does not reflect future performance. Historical performance, expected returns, and projected probabillities are provided for informational and illustration purposes. All decisions on trading crypto assets are independent decisions by the users.                    </div>                    <div style="margin-top:20px;font-size:20px">                        <span style="margin-right:90px">Terms & Condition</span>                        <span>Privacy Policy</span>                    </div>                </div>            </div>            </div>    </div></footer>

<div class="modal fade" id="modal-signin" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12" style="padding:50px">

                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                    <div id="content_block_28">
                                        <div class="content-box" data-wow-delay="00ms" data-wow-duration="1500ms" style="color: white">
                                            <div class="sec-titlex" style="margin-bottom:5px"><h2>Sign In</h2></div>
                                            <div class="text" style="color:#757575;font-size:15px;margin-bottom:15px">Welcome back, please login to your account.</div>

                                            <form method="POST" action="/login">
                                            <input type="hidden" name="_token" value="YVs4h1ibar0zITVZb5MwTk3be3xGyJmcCkYHdPXH">                                                <div class="form-group">
                                                    <label class="text" style="color:#757575;font-size:15px;margin-bottom:0px">Email</label>
                                                    <input type="email" style="background-color:#F5F5F5;color: #333333;font-size:14px;padding:10px 10px;border-radius:8px;border:1px solid #cecece;" class="form-control" name="email">
                                                </div>
                                                <div class="form-group">
                                                    <label class="text" style="color:#757575;font-size:15px;margin-bottom:0px">Password</label>
                                                    <input type="password" style="background-color:#F5F5F5;color: #333333;font-size:14px;padding:10px 10px;border-radius:8px;border:1px solid #cecece;" class="form-control" name="password">
                                                </div>
            
                                                <div><button type="submit" class="btn btn-block" style="background-color:#2F80ED;color:white;padding:10px 40px;border-radius:8px;">Sign In</button></div>
                                            </form>
                                            
                                            <div style="color:#757575;text-align:center;font-size:12px">Don’t have an account? &nbsp;&nbsp; <span style="font-weight:bold;color:#2F80ED" data-toggle="modal" data-target="#modal-signup">Sign Up</span></div>
                                            <hr>
                                            <div><button class="btn btn-block" style="background-color:white;border:1px solid #cecece;font-size:14px;padding:10px 40px;border-radius:8px;">
                                                <img src="https://lautan.s3.amazonaws.com/webcontent/media_QXFyc6.png" style="height:15px;margin-top:-5px;color:#404040;">&nbsp;&nbsp;&nbsp; Sign In with Google</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                    <img src="https://lautan.s3.amazonaws.com/webcontent/media_pikO8P.png" style="weight: 100%" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal-signup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12" style="padding:50px">

                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                    <div id="content_block_28">
                                        <div class="content-box" data-wow-delay="00ms" data-wow-duration="1500ms" style="color: white">
                                            <div class="sec-titlex" style="margin-bottom:5px"><h2>Sign Up</h2></div>
                                            <div class="text" style="color:#757575;font-size:15px;margin-bottom:15px">Please sign up to create your account.</div>

                                            <form method="POST" action="/register">
                                            <input type="hidden" name="_token" value="YVs4h1ibar0zITVZb5MwTk3be3xGyJmcCkYHdPXH">                                                <div class="form-group">
                                                    <label class="text" style="color:#757575;font-size:15px;margin-bottom:0px">Full Name</label>
                                                    <input type="text" style="background-color:#F5F5F5;color: #333333;font-size:14px;padding:10px 10px;border-radius:8px;border:1px solid #cecece;" class="form-control" name="name" placeholder="Enter your name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text" style="color:#757575;font-size:15px;margin-bottom:0px">Phone</label>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input class="form-control" type="text" name="country" value="+62" required readonly style="background-color:#F5F5F5;color: #333333;font-size:14px;padding:10px 10px;border-radius:8px;border:1px solid #cecece;"/>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <input class="form-control" type="text" name="phone" placeholder="Please input your phone number" required style="background-color:#F5F5F5;color: #333333;font-size:14px;padding:10px 10px;border-radius:8px;border:1px solid #cecece;margin-left:-20px;"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text" style="color:#757575;font-size:15px;margin-bottom:0px">Email</label>
                                                    <input type="email" style="background-color:#F5F5F5;color: #333333;font-size:14px;padding:10px 10px;border-radius:8px;border:1px solid #cecece;" class="form-control" name="email" placeholder="Please input your email address" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text" style="color:#757575;font-size:15px;margin-bottom:0px">Password</label>
                                                    <input type="password" style="background-color:#F5F5F5;color: #333333;font-size:14px;padding:10px 10px;border-radius:8px;border:1px solid #cecece;" class="form-control" name="password" placeholder="Enter your Password" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text" style="color:#757575;font-size:15px;margin-bottom:0px">Confirm Password</label>
                                                    <input type="password" style="background-color:#F5F5F5;color: #333333;font-size:14px;padding:10px 10px;border-radius:8px;border:1px solid #cecece;" class="form-control" name="repassword" placeholder="Confirm Password" required>
                                                </div>
            
                                                <div><button type="submit" class="btn btn-block" style="background-color:#2F80ED;color:white;padding:10px 40px;border-radius:8px;">Sign Up</button></div>
                                            </form>
                                            
                                            <div style="color:#757575;text-align:center;font-size:12px">Already have an account? &nbsp;&nbsp; <span style="font-weight:bold;color:#2F80ED" data-toggle="modal" data-target="#modal-signin">Sign In</span></span></div>
                                            <hr>
                                            <div><button class="btn btn-block" style="background-color:white;border:1px solid #cecece;font-size:14px;padding:10px 40px;border-radius:8px;">
                                                <img src="https://lautan.s3.amazonaws.com/webcontent/media_QXFyc6.png" style="height:15px;margin-top:-5px;color:#404040;">&nbsp;&nbsp;&nbsp; Sign Up with Google</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                    <img src="https://lautan.s3.amazonaws.com/webcontent/media_xV7Zhu.png" style="weight: 100%" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
<span class="fa fa-arrow-up"></span>
</button>


<!-- jequery plugins -->
<script src="appway/js/jquery.js"></script>
<script src="appway/js/popper.min.js"></script>
<script src="appway/js/bootstrap.min.js"></script>
<script src="appway/js/owl.js"></script>
<script src="appway/js/wow.js"></script>
<script src="appway/js/validation.js"></script>
<script src="appway/js/jquery.fancybox.js"></script>
<script src="appway/js/appear.js"></script>
<script src="appway/js/circle-progress.js"></script>
<script src="appway/js/jquery.countTo.js"></script>
<script src="appway/js/scrollbar.js"></script>
<script src="appway/js/jquery.paroller.min.js"></script>
<script src="appway/js/tilt.jquery.js"></script>
<script src="appway/js/select2.full.js"></script>
<!-- main-js -->
<script src="appway/js/script.js"></script>

<script>
    $( ".select2-single").select2({minimumResultsForSearch: Infinity});
    var change = "";
    var changebox = "";
    $(document).on("change", "#idrleft_select", function (){ change = "idrleft_select"; hitung(); });
    $(document).on("change", "#idrright_select", function (){ change = "idrright_select"; hitung(); });
    $(document).on("change", "#curleft_select", function (){ change = "curleft_select"; hitung(); });
    $(document).on("change", "#curright_select", function (){ change = "curright_select"; hitung(); });
    $("#idrleft_price").keyup(function(){ change = "idrleft_price"; hitung(); });
    $("#idrright_price").keyup(function(){ change = "idrright_price"; hitung(); });
    $("#curleft_price").keyup(function(){ change = "curleft_price"; hitung(); });
    $("#curright_price").keyup(function(){ change = "curright_price"; hitung(); });
    
    $(document).on("change", "#changebox", function ()
    {  
        changebox = $('#changebox').val();
        if(changebox == 'BUY') { 
            $('#idrleft').show(); 
            $('#idrright').hide(); 
            $('#curleft').hide(); 
            $('#curright').show(); 
            document.getElementById("btnnya").innerHTML = '<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-signin">BUY</button>'; 
            hitung(); 
        }
        else 
        { 
            $('#idrleft').hide(); 
            $('#idrright').show(); 
            $('#curleft').show(); 
            $('#curright').hide(); 
            document.getElementById("btnnya").innerHTML = '<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-signin">WITHDRAW</button>'; 
            hitung();
        }
    });
    
    function hitung()
    {
        changebox = $('#changebox').val();
        var idrleft_price = $('#idrleft_price').val();
        var idrleft_select = $('#idrleft_select').val();
        var curright_price = $('#curright_price').val();
        var curright_select = $('#curright_select').val();
        var idrright_price = $('#idrright_price').val();
        var idrright_select = $('#idrright_select').val();
        var curleft_price = $('#curleft_price').val();
        var curleft_select = $('#curleft_select').val();
    
        $.ajax(
        {
            type : "GET", url: "/calculate", 
            data : "idrleft_price=" + idrleft_price + "&idrleft_select=" + idrleft_select + "&curright_price=" + curright_price + "&curright_select=" + curright_select + "&idrright_price=" + idrright_price + "&idrright_select=" + idrright_select + "&curleft_price=" + curleft_price + "&curleft_select=" + curleft_select + "&change=" + change + "&changebox=" + changebox,
            success: function(result){
                if(result){ 
                    if(change == 'idrleft_price' || change == 'idrleft_select'){ $('#curright_price').val(result); }
                    else if(change == 'curright_price' || change == 'curright_select'){ $('#idrleft_price').val(result); }
                    else if(change == 'idrright_price' || change == 'idrright_select'){ $('#curleft_price').val(result); }
                    else if(change == 'curleft_price' || change == 'curleft_select'){ $('#idrright_price').val(result); }
                }
            }
        });
    }
</script>
<script src="{{ asset('public/sw.js') }}"></script>
    <script>
        if (!navigator.serviceWorker.controller) {
            navigator.serviceWorker.register("public/sw.js").then(function(reg) {
                console.log("Service worker has been registered for scope: " + reg.scope);
            });
        }
    </script>
</body>
</html>

    
    