.file-img{
    width: 100%;
    height: 100%;
}
.pic {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.pic:hover > .overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:#000;
    opacity:0.5;
    z-index: 100;
    display: block;
    cursor: pointer;
}

.info {
  display: block;
  /* position: inherit; */
  /* justify-content: center; */
  position: absolute;
  top: 200px;
  right: 90px;
  text-align: center;
}

.modal-image{
  max-width: 100%;
  height: auto;
}

.colored-toast.swal2-icon-success {
  background-color: #0d6efd !important;
}

.colored-toast.swal2-icon-error {
  background-color: #dc3545 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #ffc107 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #17a2b8 !important;
}

.colored-toast.swal2-icon-question {
  background-color: #6c757d !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}
